.message{
  background: white;
  box-shadow: 0px 1px 0px rgba(210, 217, 224, 0.7);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1em;
  padding: 2px 4px;
}

.message--answer{
  background: #E4E8FB;
}
