html {
  box-sizing: border-box;
  font-size: 62.5%;

  //@media screen and (min-width: 1280px) {
  //  font-size: 0.781vw;
  //}
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 14px/1.3 'PT Sans', sans-serif;
  color: $color-grey-dark;
  background: $color-bg;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}


fieldset {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: none;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}
