.card{
  display: flex;
  &__column{
    flex: 50%;
    //border: 1px solid red;
    height: 100vh;
  }

}


h1{
  padding-left: 30px;
}



.card{
  margin-left: 100px;
}
@media (max-width: 580px) {

  .card{
    margin-left: 0;
  }
}
